@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background-color: #000; /* black background */
    color: #fff; /* white text */
    line-height: 1.5;
    letter-spacing: 0.5px;
}