.no-margin {
    margin: 0px;
}

.min-margin {
    margin-top: 5px;
    margin-bottom: 5px;
}

.bm-10 {
    margin-bottom: 10px;
   }

a:visited, a:visited code, a {
    color: var(--link-color) !important;
}

.social-icons {
    margin: 5px;
    /*position: absolute;*/
    /*top: 2%;*/
    /*right: 2rem;*/
    /*display: flex;*/
    /*gap: 1rem;*/
  }

  .social-icons a {
    color: var(--text-color);
    text-decoration: none;
    display: inline-flex;
    transition: transform 0.2s;
  }

  .social-icons a:hover {
    transform: scale(1.2);
  }

  .social-icons svg {
    margin: 5px;
    width: 24px;
    height: 24px;
    fill: currentColor;
  }

  .container {
  max-width: 800px !important;
  }