{% include 'common/header.html' %}

<body>
    <div class="bg-black min-h-screen flex flex-col text-white">

        {% include 'common/navbar.html' %}

        <main class="  mt-20 pt-2 container mx-auto p-8 px-4 max-w-[1200px]">

            <header class="">
                <div class="flex">
                    <h1 class=" text-5xl border-green-500 border-b-4 pb-2 uppercase">{{ category }}</h1>
                </div>
            </header>

            <section class="my-20 grid grid-cols-4 gap-4">
                {% for article in pages %}
                    <div class="border-white border p-7">
                        <div>
                            <p>{{ article.metadata.date }}</p>
                            <h2 class="font-bold text-2xl mt-4"><a href="{{ article.url }}">{{ article.metadata.title }}</a>></h2>
                            <p class="max-w-2xl ">{{ article.metadata.description }}</p>
                            <a href="{{ article.url }}" class="inline-block border-b border-green-500 hover:bg-green-500 hover:border-green-500 my-2">Read more →</a>
                        </div>
                    </div>
                {% endfor %}
            </section>

        </main>

        {% include 'common/foot.html' %}

    </div>
</body>