{% include 'common/header.html' %}

<body class="bg-black">
<div class="bg-black min-h-screen flex flex-col text-white">

{% include 'common/navbar.html' %}

<main class="mt-20 pt-2 container mx-auto px-4 py-4 md:p-8 max-w-[1200px]">
    <header>
        <div class="flex">
            <h1 class="text-2xl sm:text-3xl border-green-500 border-b-4 pb-1 break-words">
                {{ detail.metadata.title }}
            </h1>
        </div>
        <p class="pt-1 pb-5 text-sm sm:text-base">{{ detail.metadata.date }}</p>
    </header>

    <article class="max-w-full prose prose-invert max-w-none
                    prose-pre:overflow-x-auto
                    prose-pre:max-w-full
                    prose-code:whitespace-pre
                    prose-img:max-w-full
                    prose-table:block
                    prose-table:overflow-x-auto">
        {{ detail.html }}
    </article>

</main>

{% include 'common/foot.html' %}

</div>
</body>