{% include 'common/header.html' %}

<body class="container">
    {% include 'common/navbar.html' %}
    <div>
        {% for article in about_me %}
            <a href="{{ article.url }}">About Me</a>
        {% endfor %}
    </div>
    <br>
    <h1>Blog Posts</h1>
    {% for article in blog %}
      <article class="bm-10">
          <p class="no-margin"> {{ article.metadata.date }} </p>
          <h2 class="no-margin"> <a href="{{ article.url }}"> {{ article.metadata.title }} </a> </h2>
          <p class="min-margin"> {{ article.metadata.description }} </p>
      </article>
    {% endfor %}

</body>

{% include 'common/foot.html' %}