{% include 'common/header.html' %}

<body class="container">
    {% include 'common/navbar.html' %}
    <div>
        <p>This is my super minimalistic personal page. It's still work in progress. I plan to mostly blog and share interesting stuff.</p>
    </div>
    <h1>Blog Posts</h1>
    {% for article in blog %}
      <article class="bm-10">
          <p class="no-margin"> {{ article.metadata.date }} </p>
          <h2 class="no-margin"> <a href="{{ article.url }}"> {{ article.metadata.title }} </a> </h2>
          <p class="min-margin"> {{ article.metadata.description }} </p>
      </article>
    {% endfor %}

</body>

{% include 'common/foot.html' %}