<header class="fixed top-0 left-0 right-0 z-40 bg-black border-white border-b">
  <div class="container flex items-center justify-between h-7 mx-auto p-8 px-4 max-w-[1200px]">
    <a href="/" class="border-b-2 border-green-500 hover:bg-green-500 font-bold">KC</a>
    <nav>
      <ul class="flex h-full border-2 border-white font-bold">
        <li class="flex h-full border-r border-white">
          <a href="/" class="flex align-middle hover:bg-green-500">
            <span class="h-full text-xs py-2 px-4">HOME</span>
          </a>
        </li>
        <li class="h-full border-r border-white">
          <a href="/about/about" class="flex align-middle hover:bg-green-500">
            <span class="text-xs py-2 px-4">ABOUT</span>
          </a>
        </li>
        <li class="h-full border-r border-white">
          <a href="/blog" class="flex align-middle hover:bg-green-500">
            <span class="text-xs py-2 px-4">BLOG</span>
          </a>
        </li>
        <li class=" border-r border-white">
          <a href="/projects" class="flex  align-middle hover:bg-green-500">
            <span class="text-xs py-2 px-4 font-[1100]">PROJECTS</span>
          </a>
        </li>
        <li class="h-full border-white">
          <a href="/contact/contact" class="flex align-middle hover:bg-green-500">
            <span class="text-xs py-2 px-4">CONTACT</span>
          </a>
        </li>
      </ul>
    </nav>
    <button class="block md:hidden" aria-label="Toggle mobile menu"><div class="flex flex-col justify-center w-4 h-4 space-y-1"><span class="w-4 h-0.5 bg-black block transition-transform "></span><span class="w-4 h-0.5 bg-black block transition-opacity "></span><span class="w-4 h-0.5 bg-black block transition-transform "></span></div></button>
  </div>
</header>